

<section data-ng-controller="templateCtrl" data-ng-init="find()">

    <div id="map_canvas" ng-controller="mapCtrl" >

    <script type="text/ng-template" id="control.delete.html">

    <div>
    <button type="button" class="btn btn-success btn-md" ng-click="saveGeofences()">Save  </button>
    </div>

 </script>


 <script type="text/ng-template" id="control.list.html">

     <button type="button" class="btn btn-success btn-md" ng-click="saveGeofences()">Save  </button>

</script>




      <ui-gmap-google-map center="map.center"
      options="map.options"
      zoom="map.zoom"
      events="map.events"
      pan="true"
      control="map.control">

        <ui-gmap-drawing-manager options="drawingManagerOptions"
        control="drawingManagerControl"
        events="eventHandler">

        </ui-gmap-drawing-manager>




          <ui-gmap-map-control template="control.delete.html"
          position="top-left"  controller="templateCtrl" index="1"></ui-gmap-map-control>


                   <ui-gmap-polygons
                             models="polygons"
                             idKey="'name'"
                             static="true"
                             control="polyControl"
                             path="'loc'"
                             stroke="{color: '#000000', weight: 1, opacity: 0.5}"
                             visible="true"
                             clickable="true"
                             geodesic="true"
                             fill="{color: '#0080bc', opacity: 0.5}"
                             fit="false"
                             editable="false"
                             events="poygonEvents"
                             draggable="false"
                             chunk="100"
                             cleanchunk="200">
         </ui-gmap-polygon>



      </ui-gmap-google-map>




  </div>

</section>
